/* Layout do Grid e Geral */
header {
    grid-column-start: 2;
    grid-column-end: 12;
    background-color: #6e505c;
}

.menu {
    grid-column-start: 6;
    grid-column-end: 12;
    justify-content: center;
    gap: 20px;
}

.principal {
    grid-column-start: 4;
    grid-column-end: 12;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    margin-top: 5px !important;
}

.principal p {
    border: 5px solid rgb(184, 186, 232);
    padding: 10px;
    margin-bottom: 15px !important;
}

footer {
    grid-column-start: 2;
    grid-column-end: 12;
    background-color: #1f2517;
    color: rgb(211, 187, 187);
    text-align: center;
}

/* Ajuste específico para links no rodapé */
footer a {
    color: white !important; /* Garante que a cor dos links no rodapé seja branca */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    color: #2b534e;
}

a,
a:link {
    text-decoration: none;
    padding: 8px 16px;
    border: solid #506E6A 1px;
}

li {
    float: left;
}

a:hover {
    background-color: #506E6A;
    color: white;
}

/* Estilo Flexbox para Imagens */
.image-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px !important; /* Espaço ajustado entre o título e as fotos */
    margin-bottom: 5px !important; /* Espaço ajustado abaixo das fotos */
}

.image-container {
    flex: 1;
    text-align: center;
    margin: 0; /* Remove margens extras */
    padding: 0; /* Remove padding extra */
}

.image-container img {
    max-width: 65%; /* Reduz o tamanho das imagens */
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0; /* Remove margem superior */
    margin-bottom: 5px; /* Reduz a margem inferior */
}

/* Ajuste para o espaço entre os títulos */
h1, h2 {
    margin-top: 5px !important; /* Reduz o espaço acima dos títulos */
    margin-bottom: 5px !important; /* Reduz o espaço abaixo dos títulos */
    padding: 0 !important;
}

/* Media Query para Dispositivos Móveis */
@media only screen and (max-width: 767px) {
    .wrapper {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .imagem_leo {
        grid-column-start: 2;
        grid-column-end: 2;
    }

    .principal {
        grid-column-start: 2;
        grid-column-end: 2;
    }
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

.container {
    display: grid;
}
